{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'core/footer.css' %}">
</head>
<body>
    
        <div class="footer-container" >
            <div class="logo-margin">
                <img src="https://icon-icons.com/downloadimage.php?id=169771&root=2699/PNG/512/&file=scylladb_logo_icon_169771.png" alt="" height="40px" width="40px">
                <h2 class="logo-text gap" >SycullaDB</h2>
                <p class="gap">Start scaling with the world's best <br> high performance NoSQL database.</p>
                <p class="contact-btn ">Contact Us</p>
            </div>
    
            <div>
                <h5 class="gap">Product</h5>
                <h6 class="gap left-align">Product Overview</h6>
                <h6 class="gap left-align">Architecture</h6>
                <h6 class="gap left-align">SycullaDB Enterprises</h6>
                <h6 class="gap left-align">ScyullaDB Cloud</h6>
                <h6 class="gap left-align">Open Source</h6>
                <h6 class="gap left-align">Benchmarks</h6>
                <h6 class="gap left-align">Solutions</h6>
                <h6 class="gap left-align">Release Notes</h6>
                <h6 class="gap left-align">Downloads</h6>
                <h6 class="gap left-align">Pricing </h6>
            </div>
            <div>
                <h5 class="gap">RESOURCES</h5>
                <h6 class="gap left-align">Documentation</h6>
                <h6 class="gap left-align">Online Tracking</h6>
                <h6 class="gap left-align">NoSQL Guides</h6>
                <h6 class="gap left-align">Resources Center</h6>
                <h6 class="gap left-align">Blog</h6>
                <h6 class="gap left-align">Events</h6>
                <h6 class="gap left-align">Customer Support</h6>
                <h6 class="gap left-align">Custom Portal</h6>
            </div>
         
            <div> 
                <h5 class="gap">COMPANY </h5>
                <h6 class="gap left-align">Company Overview</h6> 
                <h6 class="gap left-align">About Us</h6>
                <h6 class="gap left-align">Team</h6>
                <h6 class="gap left-align">Customers</h6>
                <h6 class="gap left-align">Partners</h6>
                <h6 class="gap left-align">News</h6>
                <h6 class="gap left-align">Media Kit</h6>
                <h6 class="gap left-align">Carrers</h6>
                <h6 class="gap left-align">Contact Us</h6>
            </div>
            <div> 
                <H5 class="gap">Social</H5>
                <h6 class="gap left-align">GitHun</h6>
                <h6 class="gap left-align">linkedin</h6>
                <h6 class="gap left-align">Twitter</h6>
                <h6 class="gap left-align">YouTube</h6>
                <h6 class="gap left-align">Facebook</h6>
                <h6 class="gap left-align">Formus</h6>
                <h6 class="gap left-align">Slack</h6>
            </div>
            <div>
                <h5 class="gap">LEGAL</h5>
                <h6 class="gap left-align">Terms of Service</h6>
                <h6 class="gap left-align">Privacy Policy</h6>
                <h6 class="gap left-align">Data Subject Request Form</h6>
                <h6 class="gap left-align">Data Privacy Framework</h6>
                <h6 class="gap left-align">CCPA Privacy Notice</h6>
                <h6 class="gap left-align">Cookie Policy</h6>
                <h6 class="gap left-align">Trust Center</h6>
                <h6 class="gap left-align">Legal Center</h6>
                <h6 class="gap left-align">Contact</h6>
            </div>
            <div class="footer-end-text ">
                <p id="footer-text1">2024 ©ScyllaDB | ScyllaDB, and ScyllaDB Cloud, are registered trademarks of ScyllaDB, Inc.</p>
                <p id="footer-text2">Apache® and Apache Cassandra® are either registered trademarks or trademarks of the Apache Software Foundation in the United States and/or  other countries. 
                    Amazon DynamoDB® and Dynamo Accelerator® are trademarks of Amazon.com, Inc. No endorsements by The Apache Software  Foundation or Amazon.com, Inc. are implied by the use of these marks.</p>
            </div>
        </div>

    
    
</body>
</html>