{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'core/navbar.css' %}">
</head>
<body> 
    <div class="navbar-content">
        <div class="navbar-left">
            <h3><b><a href="{% url 'home' %}" style="text-decoration: none; color: white;">Monster SCALE Summit</a></b></h3>
        </div>
        <div class="navbar-right">
            <h5><a href="#Speaker" style="text-decoration: none; color: white;" >Speakers</a></h5>
            <h5><a href="#About" style="text-decoration: none; color: white;">About</a></h5>
            <h5><a href="#Schedule" style="text-decoration: none; color: white;">Schedule</a></h5>
            <h5 class="register-button"> <a href="{% url 'register' %}">Register</a></h5>
            <h5><a class="register-button" href="{% url 'logout' %}" style="text-decoration: none; color: white;">Logout</a></h5>
        </div>
    </div>

    {% block content %}
    {% endblock %}

 
    
</body>
</html>
